@import "nullStyle.css";

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Bold Reg'), local('Futura-New-Bold-Reg'),
    url('./fonts/FuturaNewBold-Reg.woff2') format('woff2'),
    url('./fonts/FuturaNewBold-Reg.woff') format('woff'),
    url('./fonts/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-main-green: #1F6661;
    --vt-c-second-green: #4D807C;
    --vt-c-third-green: #6BB3AE;
    --vt-c-blue-mute: #6C5BC2;
    --vt-c-indigo: rgb(44, 62, 80);

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);


    --vt-c-text-light-1: rgb(24, 24, 24);
    --vt-c-text-light-2: rgb(97, 97, 97);
    --vt-c-link-light-1: rgb(24, 24, 24);
    --vt-c-link-light-2: rgb(248, 248, 248);
    --vt-c-text-dark-1: rgb(248, 248, 248);
    --vt-c-text-dark-2: rgb(148, 148, 148);
    --vt-c-link-dark-1: rgb(248, 248, 248);
    --vt-c-link-dark-2: rgb(24, 24, 24);
    --vt-c-header-shadow-light: rgba(0, 0, 0, 0.05);
    --vt-c-header-shadow-dark: rgb(40, 40, 40);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-main-green);
    --color-background-soft: var(--vt-c-second-green);
    --color-background-mute: var(--vt-c-third-green);
    --color-background-header: var(--vt-c-black-mute);
    --color-background-section-dark: var(--vt-c-black);
    --color-background-section-dark-arrows: var(--vt-c-white-soft);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-headings: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
    --color-link-text: var(--vt-c-text-light-1);
    --color-link-bg: var(--vt-c-second-green);
    --color-link-text-hover: var(--vt-c-text-light-1);
    --color-link-bg-hover: var(--vt-c-second-green);
    --color-header-shadow: var(--vt-c-header-shadow-light);
    --color-elements: var(--vt-c-second-green);
    --color-helper: var(--vt-c-third-green);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);
        --color-background-header: var(--vt-c-main-green);
        --color-background-section-dark: transparent;
        --color-background-section-dark-arrows: var(--vt-c-white-soft);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-headings: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
        --color-link-text: var(--vt-c-link-dark-1);
        --color-link-bg: var(--vt-c-second-green);
        --color-link-text-hover: var(--vt-c-black-soft);
        --color-link-bg-hover: var(--vt-c-second-green);
        --color-header-shadow: var(--vt-c-header-shadow-dark);
        --color-elements: var(--vt-c-second-green);
        --color-helper: var(--vt-c-blue-mute);

    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
    scrollbar-color: var(--color-link-text) var(--color-background);
    scrollbar-width: thin;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.3s, background-color 0.3s;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-headings);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    cursor: default;
    text-transform: capitalize;
}


footer {
    padding: 0 9rem;
    margin-top: auto;
    background: #000000;
}

a {
    font-family: "Helvetica Neue", sans-serif;
    color: var(--color-link-text);
    text-decoration: none;
    transition: .4s;
}

a:hover {
    color: var(--color-link-text-hover);
    background-color: var(--color-link-bg-hover);
}

.router-link-active {
    color: var(--color-link-text-hover);
    background-color: var(--color-link-bg-hover);
}

.router-link-exact-active {
    color: var(--color-link-text-hover);
    background-color: var(--color-link-bg-hover);
}

form input {
    background: transparent;
    color: var(--color-headings);
    border: none;
    font-size: 18px;
    padding: .5rem 0 .2rem 0;
    border-bottom: solid 2px var(--color-text);
    transition: .6s;
    box-sizing: border-box;
}

form input:focus {
    border-bottom: solid 2px var(--color-elements);
}
@media (max-width: 767px) {
    form input{
        font-size: 16px;
    }
}
form select {
    border: none;
    color: var(--color-link-text);
    font-size: 18px;
    padding: .3rem .3rem;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: solid 2px var(--color-link-text);
    background-color: transparent;
    transition: .6s;
}

form select:focus {
    border-bottom: solid 2px var(--color-elements);
}

form select option {
    background: var(--color-background-soft);
    max-width: 100%;
    word-wrap: break-word;
    padding: 1.3rem 1.3rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
form select option:hover {
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
    width: fit-content;
    padding: 1rem 2rem;
    font-family: "Helvetica Neue", sans-serif;
    background-color: var(--color-link-bg-hover);
    color: var(--color-link-text-hover);
    font-size: 16px;
    font-weight: 700;
    border: 2px solid var(--color-headings);
    transition: .3s;
    border-radius: 15px;
    text-transform: capitalize;
}

button:hover {
    color: var(--color-link-text-hover);
    background-color: var(--color-helper);
    border: 2px solid var(--color-headings);
}

::-webkit-scrollbar {
    width: 8px;
}

/* Колір полоси прокрутки */
::-webkit-scrollbar-track {
    background-color: var(--color-background-soft);
}

/* Колір скрол-бару */
::-webkit-scrollbar-thumb {
    background-color: var(--color-headings);
}

.wrapper {
    padding: 9rem 9rem 0 9rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* styles for screens between 992px and 1199px wide */
}

@media (min-width: 768px) and (max-width: 991px) {
    .wrapper{
        padding: 6rem 0 0 0;
    }

}

@media (max-width: 767px) {
    body{
        font-size: 16px;
    }
}

#app {
    margin: 0 auto;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
