@import "nullStyle.css";

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Bold Reg'), local('Futura-New-Bold-Reg'),
    url('./fonts/FuturaNewBold-Reg.woff2') format('woff2'),
    url('./fonts/FuturaNewBold-Reg.woff') format('woff'),
    url('./fonts/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);


    --vt-c-text-light-1: rgb(24, 24, 24);
    --vt-c-text-light-2: rgb(97, 97, 97);
    --vt-c-link-light-1: rgb(24, 24, 24);
    --vt-c-link-light-2: rgb(248, 248, 248);
    --vt-c-text-dark-1: rgb(248, 248, 248);
    --vt-c-text-dark-2: rgb(148, 148, 148);
    --vt-c-link-dark-1: rgb(248, 248, 248);
    --vt-c-link-dark-2: rgb(24, 24, 24);
    --vt-c-header-shadow-light: rgba(0, 0, 0, 0.05);
    --vt-c-header-shadow-dark: rgb(40, 40, 40);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);
    --color-background-section-dark: var(--vt-c-black);
    --color-background-section-dark-arrows: var(--vt-c-white-soft);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-headings: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-2);
    --color-link: var(--vt-c-link-light-1);
    --color-link-hover: var(--vt-c-link-light-2);
    --color-header-shadow: var(--vt-c-header-shadow-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);
        --color-background-section-dark: transparent;
        --color-background-section-dark-arrows: var(--vt-c-white-soft);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-headings: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
        --color-link: var(--vt-c-link-dark-1);
        --color-link-hover: var(--vt-c-link-dark-2);
        --color-header-shadow: var(--vt-c-header-shadow-dark);

    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
    scrollbar-color: var(--color-link) var(--color-background);
    scrollbar-width: thin;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.3s, background-color 0.3s;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.02em;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-headings);
    font-family: 'Futura New', sans-serif;
    letter-spacing: 0.02em;
    cursor: default;
}


footer {
    padding: 0 9rem;
    margin-top: auto;
    background: #000000;
}

a {
    color: var(--color-link);
    text-decoration: none;
    transition: .4s;
}

a:hover {
    color: var(--color-link-hover);
    background-color: var(--color-link);
}

.router-link-active {
    color: var(--color-link-hover);
    background-color: var(--color-link);
}

.router-link-exact-active {
    color: var(--color-link-hover);
    background-color: var(--color-link);
}

form input {
    background: transparent;
    color: var(--color-link);
    border: none;
    font-size: 18px;
    padding: 6px 0 2px 0;
    border-bottom: solid 2px var(--color-link);
    transition: .6s;
}

form input:focus {
    border-bottom: solid 2px #005BE3;
}

form select {
    border: none;
    color: var(--color-link);
    font-size: 18px;
    padding: 7px 5px;

    border-bottom: solid 2px var(--color-link);
    background-color: transparent;
    transition: .6s;
}

form select:focus {
    border-bottom: solid 2px #005BE3;
}

form select option {
    background: var(--color-background-soft);
}

form select option:hover {
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
    width: fit-content;
    padding: 1rem 2rem;
    background-color: var(--vt-c-black-soft);
    color: var(--vt-c-white-soft);
    font-size: 16px;
    font-weight: 700;
    border: 2px solid var(--vt-c-black-soft);
    transition: .3s;
    border-radius: 15px;
}

button:hover {
    color: var(--vt-c-black-soft);
    background-color: var(--vt-c-white-soft);
    border: 2px solid var(--vt-c-black-soft);
}

::-webkit-scrollbar {
    width: 8px;
}

/* Колір полоси прокрутки */
::-webkit-scrollbar-track {
    background-color: var(--color-background-soft);
}

/* Колір скрол-бару */
::-webkit-scrollbar-thumb {
    background-color: var(--color-headings);
}

.wrapper {
    padding: 6rem 9rem 0 9rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* styles for screens between 992px and 1199px wide */
}

@media (min-width: 768px) and (max-width: 991px) {
    .wrapper{
        padding: 6rem 0 0 0;
    }

}

@media (max-width: 767px) {
    /* styles for screens up to 767px wide */
}

