@import "nullStyle.css";

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Bold Reg'), local('Futura-New-Bold-Reg'),
    url('./fonts/FuturaNewBold-Reg.woff2') format('woff2'),
    url('./fonts/FuturaNewBold-Reg.woff') format('woff'),
    url('./fonts/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;
    --vt-c-white-fourth: #ebf2f1;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-red-dark: #8C3419;
    --vt-c-main-green: #7EBFB3;
    --vt-c-second-green-semi-opacity: rgb(126, 191, 179, .5);
    --vt-c-second-green: #A7F2E4;
    --vt-c-third-green: #4F7369;
    --vt-c-blue-mute: #194759;
    --vt-c-blue-mute-lighter: #2d4c5d;
    --vt-c-blue-mute-darker: #104559;
    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);


    --vt-c-text-light-1: rgb(24, 24, 24);
    --vt-c-text-light-2: rgb(97, 97, 97);
    --vt-c-link-light-1: rgb(24, 24, 24);
    --vt-c-link-light-2: rgb(248, 248, 248);
    --vt-c-text-dark-1: rgb(248, 248, 248);
    --vt-c-text-dark-2: rgb(148, 148, 148);
    --vt-c-link-dark-1: rgb(248, 248, 248);
    --vt-c-link-dark-2: rgb(24, 24, 24);
    --vt-c-header-shadow-light: rgba(0, 0, 0, 0.05);
    --vt-c-header-shadow-dark: rgb(40, 40, 40);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-main-green);
    --color-background-soft: var(--vt-c-second-green);
    --color-background-mute: var(--vt-c-third-green);
    --color-background-header: var(--vt-c-blue-mute);
    --color-background-section-dark: var(--vt-c-black);
    --color-background-section-dark-arrows: var(--vt-c-white-soft);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-headings: var(--vt-c-white-fourth);
    --color-text: var(--vt-c-blue-mute);

    --color-header-text: var(--vt-c-white-fourth);
    --color-header-text-hover: var(--vt-c-blue-mute);
    --color-header-text-hover-bg: var(--vt-c-main-green);
    --color-header-shadow: var(--vt-c-blue-mute);
    --color-header-burger-bg: var(--vt-c-blue-mute-lighter);



    --color-link-text: var(--vt-c-blue-mute);
    --color-link-bg: var(--vt-c-second-green);
    --color-link-text-hover: var(--vt-c-blue-mute);
    --color-link-bg-hover: var(--vt-c-second-green);

    --color-elements: var(--vt-c-blue-mute);
    --color-helper: var(--vt-c-white-fourth);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);
        --color-background-header: var(--vt-c-third-green);
        --color-background-section-dark: transparent;
        --color-background-section-dark-arrows: var(--vt-c-white-soft);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-headings: var(--vt-c-white-soft);
        --color-text: var(--vt-c-white-mute);

        --color-link-text: var(--vt-c-link-dark-1);

        --color-header-text: var(--vt-c-white-fourth);
        --color-header-text-hover: var(--vt-c-blue-mute);
        --color-header-text-hover-bg: var(--vt-c-third-green);
        --color-header-shadow: var(--vt-c-header-shadow-dark);
        --color-header-burger-bg: var(--vt-c-black-soft);

        --color-link-bg: var(--vt-c-second-green);
        --color-link-text-hover: var(--vt-c-black-soft);
        --color-link-bg-hover: var(--vt-c-second-green);
        --color-elements: var(--vt-c-third-green);
        --color-helper: var(--vt-c-blue-mute);

    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
    scrollbar-color: var(--color-link-text) var(--color-background);
    scrollbar-width: thin;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.3s, background-color 0.3s;
    /*font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,*/
    /*Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;*/
    font-family: 'Futura New', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body:before{
    content: '';
    position: fixed;
    top: 10svh;
    left: -20svh;
    opacity: .3;
    width: 400px;
    height: 100%;
    transform: rotate(45deg);
    background:  url("icons/gantel.svg") no-repeat;
}
h1, h2, h3, h4, h5, h6{
    color: var(--color-headings);
    font-family: "Helvetica Neue", sans-serif;
    text-shadow: 1px 1px 2px black;
    line-height: 1.2;
    font-weight: 700;
    cursor: default;
}
h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter, h5:first-letter, h6:first-letter{
    text-transform: uppercase;
}
h1{
    color: var(--vt-c-white-fourth);
}

footer {
    padding: 0 9rem;
    margin-top: auto;
    background: var(--vt-c-blue-mute-darker);
}

a {
    color: var(--color-link-text);
    text-decoration: none;
    transition: .4s;
}

a:hover {
    color: var(--color-link-text-hover);
    background-color: var(--color-link-bg-hover);
}
.text-link,
.text-link:hover{
    text-transform: capitalize;
    background: none;
    text-decoration: underline;
}
.router-link-active {
    color: var(--color-link-text-hover);
    background-color: var(--color-link-bg-hover);
}

.router-link-exact-active {
    color: var(--color-link-text-hover);
    background-color: var(--color-link-bg-hover);
}
form label{
    color: var(--color-text);
    font-size: 18px;
}
form label:first-letter{
    text-transform: uppercase;
}
form input {
    background: transparent;
    font-family: Arial, sans-serif;
    color: var(--color-text);
    border: none;
    font-size: 18px;
    padding: .3rem 0 0;
    border-bottom: solid 2px var(--color-text);
    transition: .6s;
    box-sizing: border-box;
}

form input:focus {
    border-bottom: solid 2px var(--color-helper);
}
form input::placeholder{
    color: slategrey;
}
form input:-webkit-autofill{
    background: transparent;
}

form select {
    border: none;
    color: var(--color-link-text);
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: .3rem 0 0;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: solid 2px var(--color-link-text);
    background-color: transparent;
    transition: .6s;
}

form select:focus {
    border-bottom: solid 2px var(--color-helper);
}

form select option {
    background: var(--color-background);
    max-width: 100%;
    word-wrap: break-word;
    padding: 1.3rem 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
form select option {
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
@media (max-width: 767px) {
    form label{
        font-size: 18px;
    }
    form input{
        font-size: 16px;
    }
}
button, .btn{
    width: fit-content;
    padding: 1rem 2rem;
    font-family: "Helvetica Neue", sans-serif;
    background-color: var(--color-background);
    color: var(--color-link-text);
    font-size: 16px;
    font-weight: 700;
    border: 3px solid var(--color-elements);
    transition: .2s;
    border-radius: 100px;
    text-transform: capitalize;
}

button:hover, .btn:hover {
    color: var(--vt-c-white-fourth);
    background-color: var(--color-elements);
    border: 3px solid var(--color-elements);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-headings);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-text);
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
    body{
        font-size: 16px;
    }
}

#app {
    margin: 0 auto;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
