@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  display: grid;
  grid-template-columns: 12fr;
}
@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 12fr;
  }
}
